
:root{
    --CorPreta:#000;
    --midnight-violet: rgb(207, 207, 207);
    --platinum: rgb(0, 0, 0);
    --slate-blue: rgb(83, 59, 190);
    --tuscan-sun: rgb(216, 182, 88);
    --vibrant-coral: #f56960ff;
}
